{"swagger": "2.0", "info": {"title": "SmileBack API", "description": "\n## Introduction\n#### Who is this API for?\nThis API is specifically designed for customers, their business intelligence and reporting solutions that want to replicate a customer's SmileBack dataset into their internal storage systems for further analysis and then keep those two datasets in sync.\n#### What does this API offer?\nThe SmileBack Data Replication API offers  **purely read-only** access to a customer's own dataset. Special focus is given to making incremental synchronization as fast and efficient as possible on both ends. The customer has full control over granting and revoking their BI/reporting solution, or any other API consuming system, right to access their dataset.\n#### Incremental Updates (IMPORTANT)\nThe integration should regularly enough, but not too frequently, call the SmileBack API to bring its own data storage in sync with the latest dataset in SmileBack. \nSo, when designing solution that will consume SmileBack data, Integrator should think of a balance between Customer's needs on rational frequency of data synchronizations, to provide value to Customer and at the same time optimize API usage. \nHence, please take the following aspects into account:\n- optimize the number of API calls (necessary syncs)\n- minimize the amount of bandwidth used\n- minimize the processing power required - both for the API provider as well as for the API consumer\n#### Authorization flow\nSpecifically for Customers, SmileBack Data Replication API offers simplified authorization flow - **resource owner password-based**.\nFirst, navigate to \"API Credentials\" page under Account menu.\nCopy Client ID & Secret pair, unique and specific for each Customer.\nEncode this pair of keys with Base64 and include into Authorization header: \"Authorization Basic <ClientID:ClientSecret_encoded_keys>\".\nThen include the following in body of request as form_data:\n- grant_type: password\n- scope: read read_recent\n- username: \"email\"\n- password: \"password\"\n\nPrepared authorization request has to call this endpoint:\n```\n    POST https://<app_url>/api/token/\n```\nFor better understanding of how **resource owner password-based authorization flow** works, click the \"Authorize\" button below here in Swagger to call for \"Available authorizations\" modal. There in the form you will see what data should be provided within the authorization request header in order to authorize and get access/refresh tokens pair. You will also see, as stated above, that **only read scopes** are declared in SmileBack Data Replication API, as by design it offers **purely read-only access** to a customer's own dataset.\n\nPlease also note, in the full API documentation (PDF is dowloadable here: \"https://docs.connectwise.com/SmileBack/040/010/010\") you'll encounter yet another authorization endpoint - https://<app_url>/account/api/authorize/ - which is implemented to support full OAuth flow, and designed for 3d party systems Integrators, who operate in multi-tenant environment, therefore should not be used for simplified password-based authorization.\n\nFor more information and assistance, please contact us at help@smileback.com\n", "termsOfService": "https://www.smileback.com/terms/", "version": "v3"}, "host": "app.smileback.io", "schemes": ["https"], "basePath": "/api/v3", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"SmileBack API": {"type": "oauth2", "authorizationUrl": "https://app.smileback.io/account/api/authorize/", "tokenUrl": "https://app.smileback.io/api/token/", "flow": "password", "scopes": {"read": "Grants read access", "read_recent": "Grants read_recent access"}}}, "security": [{"SmileBack API": []}], "paths": {"/csat-agents/": {"get": {"operationId": "csat-agents_list", "description": "API endpoint for listing active csat agents.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["csat-agents"]}, "parameters": []}, "/csat-boards/": {"get": {"operationId": "csat-boards_list", "description": "API endpoint for listing active csat agents.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["csat-boards"]}, "parameters": []}, "/csat-companies/": {"get": {"operationId": "csat-companies_list", "description": "API endpoint for listing active csat agents.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["csat-companies"]}, "parameters": []}, "/csat-contacts/": {"get": {"operationId": "csat-contacts_list", "description": "API endpoint for listing active csat agents.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["csat-contacts"]}, "parameters": []}, "/nps-campaigns/": {"get": {"operationId": "nps-campaigns_list", "description": "API endpoint for listing active nps campaigns.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["nps-campaigns"]}, "parameters": []}, "/nps-responses/": {"get": {"operationId": "nps-responses_list", "description": "API endpoint for listing and syncing nps responses.", "parameters": [{"name": "created_since", "in": "query", "description": "created_since", "required": false, "type": "string"}, {"name": "campaign_name", "in": "query", "description": "campaign_name", "required": false, "type": "string"}, {"name": "score_gt", "in": "query", "description": "score_gt", "required": false, "type": "string"}, {"name": "score_lt", "in": "query", "description": "score_lt", "required": false, "type": "string"}, {"name": "score_exact", "in": "query", "description": "score_exact", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/NPSResponse"}}}}}}, "tags": ["nps-responses"]}, "parameters": []}, "/nps-responses/{id}/": {"get": {"operationId": "nps-responses_read", "description": "API endpoint for listing and syncing nps responses.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/NPSResponse"}}}, "tags": ["nps-responses"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/prj-responses/": {"get": {"operationId": "prj-responses_list", "description": "API endpoint for listing project responses.", "parameters": [{"name": "created_since", "in": "query", "description": "Date time in ISO format", "type": "string", "format": "date"}], "responses": {"200": {"description": ""}}, "tags": ["prj-responses"]}, "parameters": []}, "/prj-surveys/": {"get": {"operationId": "prj-surveys_list", "description": "API endpoint for listing active project surveys.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["prj-surveys"]}, "parameters": []}, "/reviews/": {"get": {"operationId": "reviews_list", "description": "API endpoint for listing and syncing reviews.", "parameters": [{"name": "modified_since", "in": "query", "description": "modified_since", "required": false, "type": "string"}, {"name": "include_unrated", "in": "query", "description": "include_unrated", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Review"}}}}}}, "tags": ["reviews"]}, "parameters": []}, "/reviews/recent/": {"get": {"operationId": "reviews_recent", "description": "API endpoint for listing and syncing reviews.", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Review"}}}}}}, "tags": ["reviews"]}, "parameters": []}, "/reviews/{id}/": {"get": {"operationId": "reviews_read", "description": "API endpoint for listing and syncing reviews.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Review"}}}, "tags": ["reviews"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}}, "definitions": {"InternalContact": {"type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "first_name": {"title": "First name", "type": "string", "maxLength": 255}, "last_name": {"title": "Last name", "type": "string", "maxLength": 255}, "email": {"title": "Email", "type": "string", "format": "email", "maxLength": 254, "minLength": 1}, "company": {"title": "Company", "type": "string", "maxLength": 128}, "title": {"title": "Title", "type": "string", "maxLength": 128}, "location": {"title": "Location", "type": "string", "maxLength": 128}}}, "NPSResponse": {"required": ["contact"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "score": {"title": "Score", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "comment": {"title": "Comment", "type": "string", "readOnly": true}, "has_marketing_permission": {"title": "Has marketing permission", "description": "Indicates that end user has given permission for his comment to be used by Customer for marketing purposes.", "type": "boolean"}, "contact": {"$ref": "#/definitions/InternalContact"}, "contact_remote_id": {"title": "Contact remote id", "type": "string", "readOnly": true}, "campaign_name": {"title": "Campaign name", "type": "string", "readOnly": true}, "created_at": {"title": "Created at", "type": "string", "format": "date-time"}}}, "TicketSegment": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "minLength": 1}, "name": {"title": "Name", "type": "string", "minLength": 1}}}, "Ticket": {"required": ["id", "title", "segment"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "minLength": 1}, "title": {"title": "Title", "type": "string", "minLength": 1}, "segment": {"$ref": "#/definitions/TicketSegment"}, "agents": {"type": "array", "items": {"type": "string", "minLength": 1}}, "closed_on": {"title": "Closed on", "description": "The moment the ticket was closed in the TSS. (null on legacy reactions/if we were not notified about closure.)", "type": "string", "format": "date-time", "x-nullable": true}}}, "Contact": {"required": ["id", "name", "email"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "minLength": 1}, "name": {"title": "Name", "type": "string", "minLength": 1}, "email": {"title": "Email", "type": "string", "minLength": 1}}}, "Company": {"required": ["id"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "minLength": 1}, "name": {"title": "Name", "type": "string"}, "territory_name": {"title": "Territory name", "type": "string", "x-nullable": true}, "territory_remote_id": {"title": "Territory remote id", "type": "string", "x-nullable": true}, "market_name": {"title": "Market name", "type": "string", "x-nullable": true}, "market_remote_id": {"title": "Market remote id", "type": "string", "x-nullable": true}}}, "Review": {"required": ["comment", "ticket", "contact", "company"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "rating": {"title": "Rating", "type": "string", "readOnly": true}, "comment": {"title": "Comment", "type": "string", "minLength": 1}, "ticket": {"$ref": "#/definitions/Ticket"}, "contact": {"$ref": "#/definitions/Contact"}, "company": {"$ref": "#/definitions/Company"}, "status": {"title": "Status", "type": "string", "enum": ["open", "done", "deleted"]}, "tags": {"type": "array", "items": {"title": "Tags", "type": "string", "maxLength": 50, "minLength": 1}, "maxItems": 20}, "has_marketing_permission": {"title": "Has marketing permission", "description": "Indicates that end user has given permission for their comment to be used by Customer for marketing purposes.", "type": "boolean"}, "viewed_on": {"title": "Viewed on", "description": "The moment the ticket notification was first viewed. (null if it has not been viewed yet / is not used in a medium that supports viewing.)", "type": "string", "format": "date-time", "x-nullable": true}, "rated_on": {"title": "Rated on", "description": "The moment the ticket was first rated by a client. (null if it has not been rated yet: then also sentiment null.)", "type": "string", "format": "date-time", "x-nullable": true}, "permalink": {"title": "Permalink", "type": "string", "readOnly": true}, "last_modified": {"title": "Last modified", "description": "The moment any parameter of the ticket has last been changed. Meant to facilitate incremental syncing reactions across multiple systems.", "type": "string", "format": "date-time"}}}}}